footer {
  text-align: center;
  margin-top: 20px;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
  color: #F35700;
  text-decoration: none;
}

.custom-link-reverse {
  color: inherit;
  text-decoration: none;
}

.custom-link-reverse:hover {
  color: #F35700;
  text-decoration: none;
}